
<div class=" m-3">
    <button mat-raised-button color="primary" routerLink="/admin/booking-Management"> <mat-icon>arrow_back</mat-icon> Back to Booking Management</button>
</div>
<div class="text-center text-success">
</div> 

<div *ngIf="bookingDetails ">
    <mat-card class="example-card">
        <h2 class="text-center">Booking Details</h2>
        <div class="card-content">
            <!-- Left side (header details) -->
            <div class="left-side">
                <mat-card-header>
                    <button class="button-width" mat-raised-button disabled>Game : {{ bookingDetails.turf.sportsType }}  {{ bookingDetails.turf.sportsDimension }} </button>
                </mat-card-header>
                <mat-card-content>
                    <button class="button-width" mat-raised-button disabled>
                      Booked Slot Date : <span class="text-success">{{bookingDetails.bookedSlots.dateString }}</span> 
                    </button>
                    <button class="button-width" mat-raised-button disabled>
                     Booked Slot Time :<span class="text-success">  {{bookingDetails.bookedSlots.slots[0].start }} -  {{bookingDetails.bookedSlots.slots[bookingDetails.bookedSlots.slots.length-1].end }}</span> 
                    </button >
                    <div class="payment-container" >
                        <button disabled mat-raised-button class=" button-width mb-1">Payment Details:</button>
                      <!-- <div class="text-center" > -->
                        <div class="m-4">Amount : <b>Rs. {{bookingDetails.totalCost}} </b></div>
                        <div class="m-4">Payment Method : {{bookingDetails.paymentType }}</div>
                        <div class="m-4">Booked On :{{bookingDetails.Time | date: 'short' }}</div>
                      <!-- </div> -->
                    </div>
                  </mat-card-content>
            </div>
            <!-- Right side (image) -->
            <div class="right-side">
                <h3 class=" mb-5 text-center">                 
                    <span class="text-black mb-1">Turf : </span> <span class="text-success mb-1"> <b>{{bookingDetails.turf.turfName}}</b> </span>
                </h3>
                <div class="image-div">
                    <img mat-card-image [src]="bookingDetails.turf.turfImages[0]" alt="Photo of turf">
                </div>
            </div>
        </div>
            <div class="text-center m-3">
                    <button disabled mat-raised-button class="bg-sucess">                     
                        Booking Status : <span [ngClass]="{'cancel' : bookingDetails.bookingStatus =='Cancelled'}" class="text-success" > {{ bookingDetails.bookingStatus }}</span>
                    </button>
            </div>
      </mat-card>
</div>
