
<mat-sidenav-container  class="sidenav-container pr-5">
    <mat-sidenav mode="side" opened>
        <div class="filter">
          <div>
            <mat-checkbox color="primary" [(ngModel)]="filterByPrice">Filter by Price</mat-checkbox>
          </div>
          <div *ngIf="filterByPrice">  
            <mat-label> Min price : {{minPrice}}</mat-label>  
              <mat-slider color="primary"  min="0" max="4999" step="5">
                <input matSliderThumb [(ngModel)]="minPrice" placeholder="Min Price" [value]="minPrice">
              </mat-slider>
          </div>
          <div *ngIf="filterByPrice">
            <mat-label> Max price :  {{ maxPrice}}</mat-label>  
            <mat-slider color="primary"  [min]="minPrice" max="5000" step="5">
                <input matSliderThumb [(ngModel)]="maxPrice" placeholder="Max Price" [value]="">
            </mat-slider>
          </div>
            <div>
                <mat-form-field>
                    <mat-select (selectionChange)="getSports($event)" [(ngModel)]="toSearchSports" placeholder="Game">
                    <mat-option *ngFor="let sport of sports"  [value]="sport">
                        {{sport}}
                    </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-select (selectionChange)="getDimension($event)" [(ngModel)]="toSearchDim" placeholder="Dimension of Game">
                    <mat-option [value]="dimension" *ngFor="let dimension of sportsDimension" >
                        {{dimension}}
                    </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
             <button class="mr-1" mat-raised-button (click)="onApply()" color="primary">Apply</button>
             <button mat-raised-button (click)="onClear()" color="warn">Clear</button>
        </div>
      </mat-sidenav>
    <mat-grid-list  class="mat-grid-list" cols="3" rowHeight="4:7" >
      <ng-container *ngIf="noTurf; else elseTemplate" >
        <h2 class="text-center text-danger mt-3">No turf found</h2>
      </ng-container>
      <ng-template #elseTemplate>
        <mat-grid-tile class="card-container mat-grid-tile"    *ngFor="let turf of turfDetails">
          <app-turf-card  [turfData]="turf"></app-turf-card>
      </mat-grid-tile>
      </ng-template>
      

        </mat-grid-list>
</mat-sidenav-container >
