.example-card {
  width: 100%; 
  height: 100%; 
  margin-left: 0;
  padding-left: 50px;
  /* padding-right: 20px; */
}

.card-image-container {
  width: 25rem; 
  height: 25rem; 
  overflow: hidden; 
}

.card-image-container img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
}

mat-icon {
  vertical-align: middle; 
}
mat-card-title{
  text-align: center;
  color:#2e7f4d ;
}