
<mat-toolbar class=" " color="primary">
    <span>ADMIN</span>
    <div class="spacer"></div>
     <a mat-button>Home</a>
     <a mat-button>About</a>
     <a mat-button>Contact</a>
     <a mat-button (click)="logout()">Logout</a>
   </mat-toolbar>
   <mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened>
      <mat-nav-list>
        <mat-list-item (click)="onNavItemClicked('DashboardManagement')">
          <a class="nav-link">Dashboard</a>
        </mat-list-item>
        <mat-list-item (click)="onNavItemClicked('UserManagement')">
          <a class="nav-link" >User Managaement</a>
        </mat-list-item>
        <mat-list-item (click)="onNavItemClicked('TurfUserManagement')">
          <a class="nav-link"  >Turf Admin  Managaement</a>
        </mat-list-item>
        <mat-list-item (click)="onNavItemClicked('SportsManagement')">
          <a class="nav-link"  >Sports Management</a>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <!-- <ng-container *ngIf="currentNavItem == 'UserManagement' "> -->
        <router-outlet ></router-outlet>
      <!-- </ng-container> -->
      
    </mat-sidenav-content>
  </mat-sidenav-container>
  