
<div class=" m-3">
    <button mat-raised-button color="primary" routerLink="/user-profile/bookings"> <mat-icon>arrow_back</mat-icon> Back to Bookings</button>
</div>
<div class="text-center text-success">
    <h2>Booking Details</h2>
</div> 
<!-- <div **ngIf="loading;else noLoading" >
    <app-ball-spinner [loader]="loading"></app-ball-spinner>
</div>
<ng-template #noLoading> -->
<div *ngIf="loading">
    <div class="box">
        <div class="shadow"></div>
        <div class="gravity">
          <div class="ball"></div>
        </div>
    </div>
    <!-- <app-ball-spinner [loader]="loading"></app-ball-spinner> -->
</div>

<div  *ngIf="isInitialised && bookingDetails">
    <mat-card class="example-card">
        <div class="card-content">
            <!-- Left side (header details) -->
            <div class="left-side">
                <mat-card-header>
                        <h4>Game : {{ bookingDetails.turf.sportsType }}  {{ bookingDetails.turf.sportsDimension }} </h4>
                </mat-card-header>
                <mat-card-content>
                    <p>
                      Booked Slot Date : <span class="text-success">{{bookingDetails.bookedSlots.dateString }}</span> 
                    </p>
                    <p>
                     Booked Slot Time :<span class="text-success">  {{bookingDetails.bookedSlots.slots.start }} -  {{bookingDetails.bookedSlots.slots.end }}</span> 
                    </p>
                    <div>
                        <h4 class="ml-4 ">Payment Details:</h4>
                        <p>Amount : <b>Rs. {{bookingDetails.totalCost}} </b></p>
                        <span>Payment Method : {{bookingDetails.paymentType }}</span>
                    </div>
                    <p>Booked On :{{bookingDetails.Time | date: 'short' }}</p>
                  </mat-card-content>
            </div>
            <!-- Right side (image) -->
            <div class="right-side">
                <h3>                 
                    <span class="text-black mb-1">Turf : </span> <span class="text-success mb-1"> <b>{{bookingDetails.turf.turfName}}</b> </span>
                </h3>
                <div class="image-div">
                    <img mat-card-image [src]="bookingDetails.turf.turfImages[0]" alt="Photo of turf">
                </div>
            </div>
        </div>
            <div class="text-center m-3">
                <button mat-raised-button class="change-button" (click)="showDirection()" > SHOW DIRECTION </button>
                <ng-container *ngIf="bookingDetails.bookingStatus =='Confirmed'; else elseTemplate">
                    <button mat-raised-button class="change-button" (click)="changeSlot()" > CHANGE SLOT </button>
                    <button mat-raised-button class="cancel-button" (click)="confirmDiolog()" > CANCEL BOOKING </button>
                </ng-container>
                <ng-template #elseTemplate>
                    <button disabled mat-raised-button class="bg-sucess">                     
                        Booking Status : <span [ngClass]="{'cancel' : bookingDetails.bookingStatus =='Cancelled'}" class="text-success" > {{ bookingDetails.bookingStatus }}</span>
                    </button>
                </ng-template>
            </div>
      </mat-card>
</div>
    
<!-- </ng-template> -->
