<table class="table table-striped" mat-table [dataSource]="_dataSource">
    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column.dataProperty">
            <th class="text-center" mat-header-cell *matHeaderCellDef>
                {{column.title}}
            </th>
            <td mat-cell class="text-center" *matCellDef="let row">
              <ng-container *ngIf="column.dataProperty === 'actions'; else otherColumn">
                <button mat-flat-button color="primary" (click)="performAction(row)">
                  {{ row[column.dataProperty] }}
                </button>
              </ng-container>
              <ng-template #otherColumn>
                {{ row[column.dataProperty] }}
              </ng-template>
            </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayColumnName"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumnName;"></tr>
</table>