
<div class="container">
        <button mat-raised-button class="home-button" routerLink="" > Go back to Home </button>
    <div class="printer-top"></div>

    <div class="paper-container">
        <div class="printer-bottom"></div>
        <div class="paper">
            <div class="main-contents">
                <div class="success-icon">&#10060;</div>
                <div class="success-title">
                    Booking Failed
                </div>
                <div class="success-description">
                    Something error occured between payment .Please try again 
                </div>
                <div class="order-details">
                    <div class="complement">Try Again</div>
                </div>
            </div>
            <div class="jagged-edge"></div>
        </div>
    </div>
</div>
