<!-- <div class="container">
    <div class="row ">
        <div class="col-md-12 mx-auto buttons">
            <button class="button-class " mat-raised-button>Weekly Income : {{weeklySales}}</button> 
            <button class="button-class" mat-raised-button>Monthly Income : {{monthySales}}</button> 
            <button class="button-class" mat-raised-button>Annual Income : {{annualSales}}</button> 
        </div>
        <div class="col-md-12 mx-auto">
            <h2 class="text-primary ml-5 mt-3 text-center">  Dashboard </h2>
            <canvas  id="canvas">{{chart}}</canvas>
        </div>
        <div class="col-md-12 mx-auto">
            <h2 class="text-primary ml-5 mt-3 text-center">  Bookings based on Sports Type </h2>
            <canvas  id="pieChart">{{pieChart}}</canvas>
        </div>
    </div>
</div> -->

<!-- <app-dashboard [weeklySales]="weeklySales" [monthySales]="monthySales" [annualSales]="annualSales" [chartData]="chartData" [pieChartData]="pieChartData" [chartLabel]="label" [pieChartLabel]="pieLabel" > </app-dashboard> -->
<app-dashboard
     [annualSales]="annualSales" 
     [chartData]="chartData" 
     [pieChartData]="pieChartData" 
     [chartLabels]="chartLabels"
     [pieLabels]="pieLabels"
     [monthySales]="monthySales"
      [weeklySales]="weeklySales"
      [chartText]="chartText"
      [pieChartText]="pieText"
    ></app-dashboard>