/* .main-div{
    
} */

/* .container{
    height: max-content;
    width: 100px;
} */
.toolbar{
    border-radius: 5px;
    background: #0f0f0f;
}
.box-shadow{
    background-color: rgb(230, 223, 223);
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: rgba(0, 0, 0, 0.4) -5px 5px, ;
}