
    <div class="container">
        <div class="m-3 p-2 bg-black">
            <button mat-raised-button class="home-button" routerLink="" > Go to Home </button>
         <button mat-raised-button class="bookings-button" routerLink="/user-profile/bookings" > Go to My Bookings </button>
        </div>
        <div class="printer-top"></div>

        <div class="paper-container">
            <div class="printer-bottom"></div>
            <div class="paper">
                <div class="main-contents">
                    <div class="success-icon">&#10004;</div>
                    <div class="success-title">
                        Booking Complete
                    </div>
                    <div class="success-description">
                        Thank you for completing the booking! You can view in my bookings for more details.
                    </div>
                    <div class="order-details">
                        <div class="complement">Thank You!</div>
                    </div>
                </div>
                <div class="jagged-edge"></div>
            </div>
        </div>
    </div>

