<div class="container">
    <div class="row">
        <div class="col-md-12 mx-auto text-center">
            <div class="text-center">
                <h2 class="text-center text-success">Wallet Management</h2>
                <div class="add-border m-5 p-3">
                   <div class="pb-2"> <button disabled mat-button > WalletAmount :{{walletAmount}}</button> </div>
                   <!-- <div class="add-color"> <button mat-raised-button > Add to wallet</button> </div>  -->
                   <div class="p-5" *ngIf="walletDetails && walletDetails.length>0" >
                    <h4>Wallet History</h4>
                    <div *ngFor="let wallet of walletDetails ">
                        <mat-accordion>
                            <mat-expansion-panel hideToggle>
                              <mat-expansion-panel-header>
                                <mat-panel-title>
                                  {{wallet}}
                                </mat-panel-title>
                                <mat-panel-description>
                                  This is a summary of the content
                                </mat-panel-description>
                              </mat-expansion-panel-header>
                              <p>This is the primary content of the panel.</p>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
                <div class="m-3" *ngIf=" !walletDetails ||walletDetails.length<=0">
                       <p class="text-primary">  No Wallet history found</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>  